aiohttp==3.6.3
altgraph==0.17
APScheduler==3.6.3
async-timeout==3.0.1
attrs==20.3.0
blis==0.7.3
catalogue==1.0.0
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
chatterbot-corpus==1.2.0
click==7.1.2
convertapi==1.4.0
cryptocompare==0.7.3
cycler==0.10.0
cymem==2.0.4
decorator==4.4.2
discord.py==1.5.1
en-core-web-sm==2.3.1
ffmpy==0.3.0
ffpass==0.4.8
future==0.18.2
get-mac==0.8.2
getmac==0.8.2
gfycat==0.2.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
joblib==0.17.0
kiwisolver==1.3.1
mathparse==0.1.2
matplotlib==3.3.3
moviepy==1.0.3
multidict==4.7.6
murmurhash==1.0.4
Naked==0.1.31
netifaces==0.10.9
nltk==3.5
numpy==1.19.4
oauthlib==3.1.0
opencv-python==4.4.0.46
packaging==20.7
pefile==2019.4.18
pfycat==0.1.2
Pillow==8.0.1
Pint==0.16.1
plac==1.1.3
preshed==3.0.4
proglog==0.1.9
pyasn1==0.4.8
pycparser==2.20
pycryptodome==3.4.3
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pymongo==3.11.2
pyparsing==2.4.7
pyperclip==1.8.1
pypiwin32==223
PySocks==1.7.1
python-dateutil==2.7.5
python-nmap==0.6.1
pytz==2020.4
pywin32==300
pywin32-ctypes==0.2.0
PyYAML==3.13
regex==2020.11.13
requests==2.25.0
requests-oauthlib==1.3.0
screen-recorder-sdk==1.2.2
selenium==3.141.0
shellescape==3.8.1
six==1.15.0
sockets==1.0.0
spacy==2.3.4
SQLAlchemy==1.2.19
srsly==1.0.4
srt==3.4.1
thinc==7.4.3
tqdm==4.54.0
tweepy==3.10.0
tzlocal==2.1
urllib3==1.26.2
wasabi==0.8.0
yarl==1.5.1
